

#root{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: white;
}

.main{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.main-wheel{
    position: relative;
    width: 30vw;
    height: 30vw;
}

.spin-btn{
    z-index: 1;
    cursor: pointer;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.wheel{
    width: 30vw;
    height: 30vw;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: orangered;
}

.check-point-overlay{
    position: absolute;
    z-index: -1;
    top: 0;
    width: 30vw;
    height: 30vw;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.check-point{
    background-color: red;
    width: 1px;
    height: 1px;
}

.check-point-rule-overlay{
    position: absolute;
    z-index: -1;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.check-point-rule{
    background-color: red;
    width: 1px;
    height: 1px;
}

.wheel .rotate-thing{
    height: 50%;
    position: absolute;
    top: 0;
    transform-origin: bottom;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.rotate-thing-default{
    width: 30vw;
    height: 30vw;
    border-radius: 50%;
    background-color: orangered;
    animation: spin 5s linear 1ms infinite forwards;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rotate-thing p{
    text-align: center;
    transform: rotate(-90deg);
}

.input-field{
    width: 200px;
    height: 400px;
}

.win-point{
    width: 1px;
    height: 1px;
    background-color: black;
    display: inline;
    margin: 0;
}

.pup-up-winner{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
}

.winner-is{
    background-color: white;
    z-index: 1;
    width: 30%;
    height: 10%;
    color: black;
    border-radius: 10px;
}

.wheel-rule-cover{
    width: 50%;
    height: 50%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.wheel-rule{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;
}

.rotate-thing-rule{
    height: 50%;
    width: 30vw;
    position: absolute;
    top: 0;
    transform-origin: bottom;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.rotate-thing-rule p{
    text-align: center;
    transform: rotate(-90deg);
}

@keyframes spin {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}